@page "/film"
@using WebApplication1.Model
@using WebApplication1.Data
@inject NavigationManager NavigationManager
@inject IMovieService MovieService

<div id="filmInfo">
    <h4>Result</h4>
    <div class="fInfo">
        <h3 >@title</h3>

    </div>
    <div class="fInfo">
        <label>Year</label>
        <label>@year</label>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Stars:</th>
                <th>Birth:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in filmStars)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.birth</td>
                </tr>
            }
        </tbody>

    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Directors:</th>
            <th>Birth:</th>
  </tr>
        </thead>
        <tbody>
        @foreach (var item in directors)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.birth</td>
            </tr>
        }
        </tbody>

    </table>
    <button @onclick="addFilm">Add to my favorite! </button>
</div>

@code {

    private IMovieService movieService;
    public string title { set; get; }
    public int year { set; get; }
    public int Id { set; get; }
    public IList<People> filmStars { set; get; } = new List<People>();
    public IList<People> directors { set; get; } = new List<People>();
    public IList<Movie> movies { set; get; } = new List<Movie>();

    public IList<Film> allFilms;

    public Film(int Id) { this.Id = Id; }
    public async void addFilm()
    {
        Console.WriteLine("111111111111111111111111111111");
        Movie movie = await movieService.getMovieById(16906);
        Console.WriteLine("now the title is -----"+title);
        title = movie.title;
        Console.WriteLine("now the title is -----" + title);
        year = movie.year;
        directors = await movieService.getDirectorsById(16906);
        filmStars = await movieService.getStasById(16906);
        Console.WriteLine("add film add film  add film  add film  add film  add film  add film");
        //    NavigationManager.NavigateTo("/LogIn");
        IList<Movie> list = new List<Movie>();
        list = await movieService.getMoviesByTitle("Faceless");
        for (int i =0;i<list.Count;i++)
        {
            Console.WriteLine(list[i].title);
        }

        Console.WriteLine("now the title is -----" + title);
    }

    protected  override  async Task OnInitializedAsync()
    {

        try
        {

            movieService = new CloudMovieService();
            Movie movie = await movieService.getMovieById(Id);
            title = movie.title;
            year = movie.year;
            directors = await movieService.getDirectorsById(Id);
            Console.WriteLine("the director is" + directors[0].name);
            filmStars = await movieService.getStasById(Id);

            movies = await movieService.getMoviesByTitle(title);
            Console.WriteLine("this is" + movies[0].title);
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
            throw;
        }

    }



}
