@page "/Search/{username}"
@using WebApplication1.Model
@using WebApplication1.Data

@inject NavigationManager NavigationManager


<div class="same">
    <div id="menu">
        <h3 id="h3prof">GreatestFilm</h3>
        <a href="TopFilmlist/@username" class="up"> TopFilm list</a>
    
        <div id="filmSearch">
            <div class="form-group">
                <label>Film name:</label>
                <input type="text" placeholder="film name" @bind-value="filmname" />
            </div>
        </div>

        <div class="chInfo">
        <label>Year: </label>
        <select @onchange="@setYear">
            <option value="2010">2010s</option>
            <option value="2000">2000s</option>
            <option value="1990 ">1990s</option>
            <option value="1980 ">1980s</option>
            <option value="1970">1970s</option>
            <option value="1960">1960s</option>
            <option value="1950">1950s</option>
            <option value="1940">1940s</option>
        </select>
    </div>

        <div>
            <button @onclick="search"> search </button>
            <button @onclick="clear"> clear </button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Movies:</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in result)
                {

                <tr>
                    <a href="film/@item.id/@username">
                    <td>@item.title</td>
                    </a>
                    <td>@item.year</td>

                </tr>

                }
                <ul>
                    @for (int a = 1; a <= result1.Count() / pageSize; a++)
                    {
                         int p = a;
                        
                        <button type="button" @onclick="(e=>HandleChangePage(p))" >@p</button>
                        
                    }
                </ul>
            </tbody>

        </table>



        <div>
            <label> @message</label>
        </div>

      
    </div>
    </div>


           


@code {
    private IMovieService movieService;
    private int pageNumber = 1;
    private int pageSize = 20;
    private string text ="new";
    public string filmname { set; get; }
    public string message { set; get; }
    [Parameter]
    public string username { set; get; }
    public IList<Movie> result = new List<Movie>();
    public IList<Movie> result1 = new List<Movie>();
    private int minYear=2010;
    private int maxYear=2020;


    public async Task search()
    {
        try
        {


            movieService = new CloudMovieService();


            IList<Movie> movies = await movieService.getMoviesByTitle(filmname);
            Console.WriteLine("the number is" + movies.Count);
            IList<Movie> movies2 = new List<Movie>();
            for(int i = 0; i <movies.Count; i++)
            {
                Console.WriteLine("the "+i);
                Movie movie = await movieService.getMovieById(movies[i].id);
                int year;
                year = movie.year;
                if (year >= minYear && year < maxYear)
                {
                    movies2.Add(movie);
                }

            }
            Console.WriteLine("the number is"+movies2.Count);
            result1 = movies2;

            HandleChangePage(result1.Count / pageSize);
            Console.WriteLine("The title is" + text);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }


    }
    public void setYear(ChangeEventArgs args)
    {
        string result = args.Value.ToString();
        minYear = int.Parse(result);
        maxYear = minYear + 10;
    }

    public async Task clear()
    {
        result.Clear();

    }


    void HandleChangePage(int p)
    {
        pageNumber = p;

        result = new List<Movie>(result1.Skip((p - 1) * pageSize).Take(pageSize));
        Console.WriteLine("p is "+p);
        foreach (var item in result) {
            Console.WriteLine(item.title);
        }
    }

}
